<div>
	<h1>Edit Product</h1>
	<form action="" (submit)='submit()'>
		<label for="title">Title:</label>
		<input type="text" name="title" id="title"
		required
		minlength="4" 
		[(ngModel)] = 'product.title' 
		#title = 'ngModel'
		>
		<div *ngIf='title.errors'>
			<p *ngIf='title.errors.required'>Title is required.</p>
			<p *ngIf='title.errors.minlength'>Title must be at least 4 characters.</p>
		</div>

		<label for="price">Price:</label>
		<input type="text" name="price" id="price"
		required 
		[(ngModel)] = 'product.price'
		#price = 'ngModel'
		>
		<p *ngIf='price.errors'>Price is required.</p>

		<label for="url">Image Url:</label>
		<input type="text" name="url" id="url"
		[(ngModel)] = 'product.url'
		>
		<button [disabled]='title.errors || price.errors'>UPDATE</button>
	</form>
</div>